<!DOCTYPE html>
<head>
  <title> Teammatch </title>
  {{{_sections.head}}}
</head>

<body>
  {{{body}}}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  {{{_sections.jquery}}}
</body>

</html>
